@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo desarrollador</h3>
<p>
    Al cambiar al entorno <strong>Development</strong> se mostrará información más detallada sobre el error ocurrido.
</p>
<p>
    <strong>El entorno de desarrollo no debe estar habilitado para las aplicaciones implementadas.</strong>
    Puede dar lugar a que se muestre información confidencial de excepciones a los usuarios finales.
    Para la depuración local, habilite el entorno de<strong>Development</strong> estableciendo la variable de entorno  <strong>ASPNETCORE_ENVIRONMENT</strong>variable de entorno <strong>Development</strong>
    y reiniciando la aplicación.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
