body {
    background-color: #f8f9fa;
}

.container {
    padding-top: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #399ce7;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.btn-custom {
    background-color: #399ce7;
    color: white;
    border-radius: 5px;
}

    .btn-custom:hover {
        background-color: #2f80bd;
    }

.input-group {
    margin-bottom: 30px;
}
