@page "/Inventario"
<PageTitle>Inventario</PageTitle>

<div class="container">
    <div class="card shadow">
        <div class="card-header">
            <h3 class="fw-bold mb-0">Inventario</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <button class="btn btn-custom w-40 mb-5">Agregar producto</button>
                    <button class="btn btn-custom w-40 mb-5">Editar producto</button>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" id="buscar" class="form-control" placeholder="Buscar producto">
                        <div class="input-group-append">
                            <button class="btn btn-info">
                                <img src="/bootstrap/img/buscar.png" style="max-width: 24px; max-height: 24px;">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>