@page "/Solicitud"

<PageTitle>Solicitud</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h2 class="fw-bold">Crear Solicitud</h2>
		</div>
		<div class="card-body">
			<div class="row mb-3">

				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Nombre del cliente:</label>
					 @* <InputText class="form-control"></InputText>  *@
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">T&eacute;cnico:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Tipo de sello:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>
			</div>
			
			<div class="row mb-3">

				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Apellidos del cliente:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Teléfono:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>

			</div>

			<div class="row mb-3">
				<div class="col-4">
					<label class="form-label fw-bold">Dirección:</label>
					@*<InputText class="form-control"></InputText> *@
				</div>

				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Cantidad de sello:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label class="form-label fw-bold">Descripci&oacute;n:</label>
					@* <InputText class="form-control"></InputText> *@
				</div>
			</div>
		</div>

		<div class="card-footer justify-content-center d-flex">
			<button type="submit" class="btn btn-info bi bi-floppy text-white"> Guardar<i class="oi oi-document"></i></button>
		</div>
	</div>
</div>


@code {


}


