@inherits LayoutComponentBase
@layout AccountLayout
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <!-- Contenido para la primera columna -->
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            <!-- Contenido para la segunda columna -->
            @Body
        </div>
    </div>
</div>