@page "/navestados"
@using Microsoft.AspNetCore.Components.Web

<div class="container text-center">
	<div class="card shadow">
		<div class="card-body">
			<table class='table table-sm justify-content-center'>
				<thead>
					<tr >
						<th><a href="/navestados" class="nav-link fs-5 text-white";> Completado</a></th>
						<th> <a href="/navestados" class="nav-link fs-5 text-white">En proceso</a></th>
						<th><a href="/navestados" class="nav-link fs-5 text-white">En espera</a></th>
						<th><a href="/navestados" class="nav-link fs-5 text-white">Eliminado</a></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
