@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <div style="width: 35rem; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);">

        <img src="/bootstrap/img/Access_Denied.png" alt="Acceso denegado" style="margin-right: 100px;">
        <h1 class="text-danger text-center fw-bold" style="margin-left: 60px;">NO TIENES PERMITIDO EL ACCESO A ESTA PAGINA</h1>
       
    </div>
</header>

