body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.btn-primary.custom-color {
    background-color: #D3ECFF;
    color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .btn-primary.custom-color:hover {
        background-color: #9BC2E6;
    }

.blue-background {
    background-color: #E7F5FF;
    padding: 0;
}

/*
.content-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 100px auto; 
    width: 500px; 
    height: 455px; 

}*/


@media (max-width: 768px) {
    .blue-background {
        padding: 20px;
    }

    .content-container {
        padding: 12px;
    }
}



.page-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #D3ECFF; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    color: #399ce7;
    box-shadow: 0px 0px 35px #399ce7;
    margin-top: 10px;
    width: 100%; /* Cambia el ancho máximo según tus necesidades */
    max-width: 500px; /* Ancho máximo para evitar que el contenedor se extienda demasiado en pantallas grandes */
}

body {
    margin: 0;
}