@page "/"
@rendermode InteractiveServer
<PageTitle>Historial</PageTitle>


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3 class="fw-bold">Historial</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 mb-1">
                    <label class="form-label fw-bold">Desde:</label>
                    <input type="date" class="form-control w-40 mb-5">
                </div>
                <div class="col-md-2 mb-1">
                    <label class="form-label fw-bold">Hasta:</label>
                    <input type="date" class="form-control  w-40 mb-5">
                </div>
                <div class="col-md-8 mb-2 d-flex justify-content-end align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ej: Yudelka">
                        <div class="input-group-append">
                            <button class="btn btn-info">
                                <img src="/bootstrap/img/buscar.png" alt="Buscar" style="width: 24px; height: 24px; margin-right: 2px;">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>