@page "/Prueba"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>


<img class="text-center" style="width: 150px; height: 120px; border-radius: 10%;" src="@obtenerLogotipo()" />
<label class="btn btn-dark" style="height: 40px; margin-top: 40px;">
    <InputFile style="display: none;" accept=".png,.jpg,.jpeg" OnChange="cambiarImagen" /> Cambiar
</label>




@code {



    public class Empresa
    {

        public byte[]? Imagen { get; set; }

    }


    public Empresa empresa = new Empresa();


    public string obtenerLogotipo()
    {
        if (empresa.Imagen != null && empresa.Imagen.Length > 0)
        {
            string base64String = Convert.ToBase64String(empresa.Imagen);
            return $"data:image/png;base64,{base64String}";
        }
        else
        {
            return "/Recursos/imagen/sinLogo.jpg";
        }
    }

    public async Task cambiarImagen(InputFileChangeEventArgs e)
    {
        var archivo = e.File;
        if (archivo != null)
        {
            var stream = archivo.OpenReadStream();
            using (var memoryStream = new MemoryStream())
            {
                await stream.CopyToAsync(memoryStream);
                empresa.Imagen = memoryStream.ToArray();
            }
        }
    }


}