@page "/"
@rendermode InteractiveServer

<PageTitle>Reparación</PageTitle>

<div class="container text-center">
	<div>
		<table class='table table-sm justify-content-center'>
			<thead>
				<tr>
					<th><a href="/navCompletado" class="nav-link text-white"> Completado</a></th>
					<th> <a href="/navProceso" class="nav-link text-white">En proceso</a></th>
					<th><a href="/navEspera" class="nav-link text-white">En espera</a></th>
					<th><a href="/navCancelado" class="nav-link text-white">Cancelado</a></th>
				</tr>
			</thead>
		</table>
	</div>
</div>


@code {

}
