@page "/Venta"
@rendermode InteractiveServer

<PageTitle>Venta</PageTitle>
<div class="container" >
	<div class="row">
		<div class="col-lg-8">
			<div class="card shadow-lg">
				<div class="card-body">
					<table class='table table-sm justify-content-center'>
						<thead>
							<tr>
								<th>Servicio</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Descuento</th>
								<th>ITBIS</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card shadow-lg">
				<div class="card-header">
					<h3 class="fw-bold text-center">Botones de control</h3>
				</div>
				<div class="card-body text-center">
					<div class="mb-3">
						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/money.png" style="max-width: 50px; max-height: 50px;"> Efectivo
						</button>
						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/card.png" style="max-width: 50px; max-height: 50px;"> Tarjeta
						</button>
					</div>

					<div class="mb-3">
						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/history.png" style="max-width: 50px; max-height: 50px;"> Historial
						</button>

						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/broom.png" style="max-width: 50px; max-height: 50px;"> Limpiar
						</button>
					</div>
					<div class="mb-3">
						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/sum.png" style="max-width: 50px; max-height: 50px;">Agregar
						</button>

						<button class="btn" style="background-color: #399CE7; color: white;">
							<img src="/bootstrap/img/remove.png" style="max-width: 50px; max-height: 50px;">Quitar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

